*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



nav{
    width: 100vw;
    padding-left: 1em !important;
    padding-right: 0em !important;
    font-family: 'Exo';
    
}

.nav-link{
    color: #003C3C !important;
    margin-left: 30px;
    
}

.navbar-brand{
    margin-left: 30px;
}
.nav-link:hover {
    
   color: #01DC82 !important ;
}

.nav-link.active{
    font-weight: bold ;
    
}

.btn{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #01DC82;
}

.navbar-toggler{
    margin-left: 30px;
    margin-right: 30px;
}

.navsha{
    height: 100px;
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
}

/* nav over */

/* footer */

footer{
    background-color: #003C3C;
    color: white;
    font-family: 'poppins';
    font-size: 20;
    width: 100vw;
    height: 350px;

    padding: 70px;
}

.iconcontainer{
    float: right;
    
}

#icom{
    width: 25px;
    height: auto;
    margin: 10px;
}

.home1sec{
    min-height: 100vh;

}

input[type=text],input[type=number],input[type=date] , select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #01DC82;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #003C3C;
  }


  
  .container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-bottom: 30px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .checkb{
    display: inline-block;
  }

  .lis{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .lol{
    text-align: center;
    font-family: 'exo';
    font-weight: 900;

  }


  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .container {
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 90%;
      }
  }



@media (max-width:1000px){

    .navsha{
        height: 30px;
        background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
        
    }

    
    footer{
        background-color: #003C3C;
        color: white;
        font-family: 'poppins';
        font-size: 8px;
        width: 100vw;
        height: 200px;
    
        padding: 50px;
    }
    
    .iconcontainer{
        float: right;
        
    }
    
    #icom{
        width: 10px;
        height: auto;
        margin: 10px;
    }

    #fotrlogo{
        width: 80px;
        height: auto;
    }


}